/* bootstrap reboot (included) */
@import "./reset.css";

:root {
  --main-clr: #000;
  --main-bg-clr: #fff;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  color: var(--main-clr);
  background-color: var(--main-bg-clr);
}

a {
  text-decoration: none;
}

.navbar {
  background-color: #032541 !important;
}

.navbar-brand {
  color: #1ab7d8 !important;
  margin-right: 15px;
}

.navbar-brand::after {
  content: "";
  display: inline-block;
  width: 35px;
  height: 14px;
  background-color: #1ab7d8;
  border-radius: 15px;
  margin-left: 5px;
}

.navbar-toggler:hover {
  border: 1px solid #1ab7d8;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%231ab7d8' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.btn-outline-primary {
  color: #1ab7d8;
  border-color: #1ab7d8;
}

.btn-outline-primary:active,
.btn-outline-primary:hover {
  color: #1ab7d8;
  border-color: #1ab7d8;
  background-color: #fff;
}

.nav-link:active,
.nav-link:hover {
  color: #1ab7d8 !important;
}

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}
/* end header */

.hero {
  background-color: #1ab7d8;
  background-image: url(img/hero-croped.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 20px;
}

.hero-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
  padding: 40px 40px 60px;
}

.hero-span {
  font-size: 48px;
  font-weight: 900;
}

.hero-title {
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}

#request-input {
  padding: 0.5rem 7rem 0.5rem 1rem;
  border-radius: 30px;
}

#submit-btn {
  position: absolute;
  right: 0;
  height: 48px;
  padding: 10px 26px;
  border: 0;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
  border-radius: 30px;
  color: #fff;
}

#submit-btn:hover {
  color: #03063e;
}

::placeholder {
  font-size: 16px;
  color: #c6c6c6;
}
/* end hero */

.main-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#results {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;
  gap: 20px;
  padding-inline-start: 0;
}

.results-li {
  width: 150px;
}

.results-img-wrapper {
  width: 150px;
  height: 225px;
  margin-bottom: 10px;
}

.results-img {
  border-radius: 10px;
}

.noposter {
  background-color: #dbdbdb;
  background-image: url(./img/image-not-found-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.results-title,
.results-date {
  font-size: 16px;
}

.results-title {
  font-weight: 600;
  margin-bottom: 3px;
}

.results-date {
  color: #0009;
}
/* end results */

.footer {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #032541;
  color: #fff;
}
